.div3 {
    background-color: blueviolet;
    background-image: linear-gradient(skyblue,
     blueviolet,rgb(158, 158, 247))
}
.container2 {
    height: 700px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    background-color:blueviolet;
    background-image: linear-gradient(skyblue,
     blueviolet,  rgb(167, 243, 230))

    
}
.container3 {
    background-color: blueviolet;
    background-image: linear-gradient(skyblue,rgb(43, 144, 226), rgb(167, 243, 230));
    height: 900px;
    margin-top: 50px;
}