.div3 {
    background-color: blueviolet;
    background-image: linear-gradient(skyblue, blueviolet,blue);
    height: 300px;
}
.container {
    background-color: blueviolet;
    background-image: linear-gradient(skyblue, blueviolet,blue);
}